body{
    background: #333;
    color: #fff;
    padding-bottom:250px;
  }

.navbar{
    border-bottom: #008ed6 3px solid;
    opacity: 0.8;
}


.btn{
    width: 90px;
    background-color: #fff;
}

/* #arm_control{
    margin-top: 150px;
} */