<!doctype html>
<html lang="en">
  <head>
    <title>Arm</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/arm.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" id="main-nav">
      <div class="container">
        <a class="navbar-brand" href="/">
          <div class = "logo-image"> 
            <img src="../static/logo_image.jpg" class="img-fluid">
          </div>
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="{{ url_for('home_page') }}" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('nav_status') }}" class="nav-link">Status</a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('nav_interaction') }}" class="nav-link">Interaction</a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('nav_video') }}" class="nav-link">Video Feed</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
      <section id="arm_control">    
    <div class="d-flex flex-row">
        <div class="col-sm-6">
            <!-- empty space as required -->
            <h1>For Ibrahim</h1>
        </div>
        <div class="col-sm-6">
            <div class="d-flex flex-row ">
                <div class="d-flex flex-column">
                    <h2>Arm Control</h2>
                </div>
            </div>
            <form action="/arm_cont/" method="POST">
          <p>
            Joint 1: <input type="number" name="joint1" style="width: 50px" />
            <br>
            Joint 2: <input type="number" name="joint2" style="width: 50px" />
            <br>
            Joint 3: <input type="number" name="joint3" style="width: 50px" />
            <br>
            Joint 4: <input type="number" name="joint4" style="width: 50px" />
            <br>
            <br>
            <input type="submit" value="submit" />
          </p>
        </form>
        </div>
    </div>
      </section>