body{
    background: #333;
    color: #fff;
    padding-bottom:250px;
  }

.navbar{
    border-bottom: #008ed6 3px solid;
    opacity: 0.8;
}


.btn{
    color: #000;
    background: #fff;
    margin: 5px;
    width: 70px;
}
